<div class="container">
  <div class="container">
    <div class="row">
      <nav class="col-md-12">
        <h1>{{ title }}</h1>
        <h2>{{ subTitle }}</h2>
      </nav>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6">
      <button (click)="counter(1)" type="button" class="btn btn-secondary">Increment</button>
      <button (click)="counter(-1)" type="button" class="btn btn-secondary">Decrement</button>
      <p>{{ count }}</p>
      <app-albums></app-albums>
    </div>
    <div class="col-md-6">
      Affichez les albums
      <ul>
        <li *ngFor="let album of albums">{{ album }}</li>
      </ul>
      Affichez une liste d'artiste
      <ul>
        <li *ngFor="let singer of singers">{{ singer }}</li>
      </ul>
    </div>
  </div>
</div>